---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Comments from "../../components/Comments.astro";

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(({ slug }) => ({ params: { slug } }));
}

const { slug } = Astro.params;
const post = await (await import('astro:content')).getEntry('blog', slug);

const { Content, headings } = await post.render();
const { title, date, tags, image, description } = post.data;
---

<Layout {title} {description}>
  <article class="mx-auto max-w-3xl px-6 pb-10">
    <a href="/blog" class="fas fa-angle-left py-5 mx-auto" />
    {image && (
      <img src={image} alt={title} class="mb-8 w-full rounded-xl object-cover" loading="eager" />
    )}

    <h1 class="mb-4 text-4xl font-bold text-zinc-900">{title}</h1>
    <time class="mb-6 block text-sm text-zinc-500">
      {date.toLocaleDateString('en-US', { year:'numeric', month:'long', day:'numeric' })}
    </time>

    <div class="mb-8 flex flex-wrap gap-2">
      {tags.map((t: unknown) => <span class="rounded-full bg-slate-200 px-3 py-1 text-xs font-semibold">{t}</span>)}
    </div>

    <div class="prose prose-teal max-w-none">
      <Content />
    </div>
  </article>
  <Comments
    repo="anuj-nk/anuj-nk.github.io"
    repoId="R_kgDOO-p9mA"
    category="Comments"
    categoryId="DIC_kwDOO-p9mM4Cv-pc"
    mapping="pathname"
  />
</Layout>

